<a href="https://colab.research.google.com/github/Aditya112008/PRO130DataCleaning/blob/main/Data_cleaning_130.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import csv

In [3]:
df = pd.read_csv('total_stars.csv')

FileNotFoundError: ignored

In [4]:
df.columns

NameError: ignored

In [ ]:
df.drop(['Unnamed: 0','Unnamed: 6', 'Star_name.1', 'Distance.1', 'Mass.1', 'Radius.1','Luminosity'],axis=1,inplace=True)

In [5]:
df

NameError: ignored

In [ ]:
final_data = df.dropna()
final_data

,Star_name,Distance,Mass,Radius
0,Sun,0.000015813,1,1
1,Sirius,0008.6,2.1,1.71´
2,Canopus,0310,15,71
3,Alpha Centauri,0004.4,1.1,1.2
4,Arcturus,0037,1.1,26
...,...,...,...,...
249,2MASSI J2356547-155310,74.0,0.07636704,0.11201167000000001
250,WISE 0410+1502,20.0,0.005727528,0.12023270999999998
251,WISE 0458+6434A,35.9,0.014318820000000001,0.4316046
252,WISE 0458+6434B,35.9,0.00954588,0.39049939999999994
253,WISE 1405+5534,25.3,0.028637640000000002,0.08837618

In [6]:
final_data.reset_index(drop=True,inplace = True)
final_data

NameError: ignored

In [7]:
final_data.to_csv('final_data.csv')

NameError: ignored

In [8]:
final_data.info()

NameError: ignored

In [ ]:
final_data.describe()

,Star_name,Distance,Mass,Radius
count,253,253,253,253
unique,253,199,156,144
top,2MASSI J1217110-031113 [de],51.0,0.040092696000000004,0.09659721999999998
freq,1,4,7,20

In [9]:
final_data.head(5)

NameError: ignored

In [10]:
final_data.dtypes

NameError: ignored